.App {
  text-align: center;
}

body{
  background-color: aquamarine;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botao{
  margin-left: 1%;
  float: right;
  width: 100px;
  border: 2px solid cadetblue;
  font-size: 17px;
}

.h1{
text-align: center  ;
}
.li{
  font-size: 21px;
  font-family: cursive;
}

.container{
  width: 50%;
  /* background-color: aqua; */
  display: grid;
  align-items: center;
  /* justify-content: center; */
  margin: auto;
}

.favorito{
  margin-left: 26px;
}